{% extends 'layout.html' %}
{% block content %}
{% for post in posts %}
<div class="covid">
    <center>
    <div class="covid-sec">
    <h1>COVID-Helper</h1>
    <br>
    <q>Help Is Here</q>
</center>
</div>
<br>
<hr style="width: 75%;">
<article class="media content-section">
    <div class="media-body">
        <h2><a class="article-title"> I need {{ post.item }}</a></h2>
        <p class="article-title">in {{ post.city }}</p>
        <p class="article-content">{{ post.descrip}}</p>
    </div>

    <div class="article-metadata">
        <p> {{post.author.email}} </p>
        <p> {{post.author.phone}} </p>
    </div>
</article>

{% endfor %}
{% endblock %}